autopep8==1.5.4
awscli
black==20.8b1
blinker==1.4
boto3==1.17.33
botocore
flake8==3.8.4
pep8==1.7.1
pylint==2.6.0
virtualenv==20.0.17
pytest==6.2.1
pytest-asyncio==0.14.0
pytest-mock
coverage==5.4
mock